body {
    background-color: #ABDCFF;
    font-family: "Times New Roman"

}


.card-container {
    text-align: center;
    margin: 12% 5.8% 5.8%;
    display: inline-block;
    width: auto;
    height: auto;
}

.top {
    width: 100%;
    text-align: center;
}

.card-body {
    background-color: #49C628;
}
